<!DOCTYPE html>
<html>
<head>
	<title>ERROR404</title>
<link rel="stylesheet" type="text/css" href="/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/main.css">
	    <link rel="stylesheet" type="text/css" href="/pills.css">
</head>
<body>
<h1 class="Error">404 error</h1>
<h2 class="errText">This page doesn't exist
Not to worry. You can either head back to our<a href="http://localhost:3000/country/USA"> homepage,</a> or sit there and listen to a goat.</h2>


<iframe  width="1350" height="650" src="http://www.youtube.com/embed/SIaFtAKnqBU?vq=hd720&amp;rel=0&amp;showinfo=0&amp;controls=0&amp;iv_load_policy=3&amp;loop=1&amp;playlist=SIaFtAKnqBU&amp;modestbranding=1&amp;autoplay=1" frameborder="0" webkitallowfullscreen="" allowfullscreen="" id="fitvid434559"></iframe>
</body>
</html>