      <h1 id="welcome">Welcome to Travel Blog!</h1>

			<% for (let i = 0; i < blog.length; i++) { %>
          <img src="<%= blog[i].image %>" class="img-travel">
					<h1 class="text-title"><%= blog[i].title %></h1>
					<p class="text-comment"><%= blog[i].comment %></p>

			<% } %>
