

	<title><%= title%></title>

<div class = "home">

<h2 class="header">Full stack developer</h2>
 			<p>Programming is my passion. All what I do is just translate idea into working applications. My goal is do best as you can in all time, in all cases. Programming language or some technology is just an instrument and if I need something in first time I`m ready to learn it. My rule of three T: Testing are cool, Term is really important, Trust is matter, so if you want to give me some test - I am ready at all time.</p>

<hr>

<h3><strong>Competences:</strong></h3>
     <p><strong>Languages and Frameworks: Javascript,  HTML5,  CSS3,  jQuery, React.js, Redux, Node.js, Express.js, PostgreSQL, MongoDB.</strong></p>

<p>Tools & expertise: Git,  Responsive Web Design.</p>


</div>
